a {
    text-decoration: none;
    color: inherit; /* Change the color property to inherit */
}


.navbar{
   display: flex;
   justify-content:space-around;
   padding: 30px 10px;
   background-color:white; 
   align-items: center;
   
   
  
    
}
.imgcart{
    width: 40px;
}
.nav-logo{
    display:flex ;
    align-items: center;
    

}
.nav-logo p{
    color: #111111;
    font-size: 40px;
    font-weight: 100;
    font-family:"Jokerman";

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #111111;
    font-size: 22px;
    font-weight: 500;
    background-color:white;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    font-family:Times New Roman;
    font-weight: 20px;
    align-items: center;
    justify-content: center;
    gap:8px;
    cursor: pointer;
    color:rgb(8, 0, 0);
}
.nav-menu hr{
    background: #090909;;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    border: none;

}

.login{
    display: flex;
    align-items: center;
    gap: 45px;
}
.login button {
    width: 100px;
    height: 38px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 30px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    font-family:Times New Roman;
    background: white;
    cursor: pointer;
}

.login button:hover {
    background: #3c363c;
    color: white;
}
.navbar-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left:-55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-dropdown{
    display: none;
}

@media(max-width:1280px) {
    .navbar {
        padding: 12px 50px;
    }
    .nav-logo img{
        width: 40px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap:30px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;

    }
    
    
}
@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart button {
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
   
}
@media(max-width:800px) {
    .navbar{
        padding: 8px 0px;

    }
    .nav-dropdown{
        gap: 30px;
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;

    }
    .nav-menu{
        display: none;
        height: 60px;
        width: 100%;
        position: absolute;
        background-color:white;
        justify-content: center;
        top: 50px;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
}